.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 25em;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
}

#home {
  /*background-color: #b6b9bc;*/
  background: linear-gradient(
    90deg,
    rgba(206, 206, 235, 1) 0%,
    rgba(240, 204, 240, 1) 50%,
    rgba(245, 220, 220, 1) 100%
  );
}

#home h1,
#home p {
  color: #212529;
}

#short-p {
  color: #1900fc89 !important;
  font-weight: bold;
}

#aboutme,
#skills,
#experience,
#projects,
#hobbies,
#contact {
  /*background-color: #e3e6e8;*/

  background: linear-gradient(
    90deg,
    rgba(159, 161, 207, 1) 0%,
    rgba(196, 157, 196, 1) 50%,
    rgba(232, 213, 213, 1) 100%
  );
  padding-bottom: 30px;
}

.skill {
  background-color: #111961b6;
  border-style: groove;
}

#skills li {
  color: #e3e6e8;
}

.skill-card {
  background: #ffffff1d;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: all 0.25s ease;
}

.skill-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
}

#skills h5 {
  font-size: 1.1rem;
}

#skills ul li {
  padding: 4px 0;
}

.timeline-dot {
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #111961b6;
  border: 2px solid #111961b6;
  box-shadow: 0 0 6px #313a83b6;
  transition: transform 0.2s ease;
  position: relative;
}

.timeline-content {
  border: 2px solid #dadfe2;
  box-shadow: 0 0 6px #313a83b6;
}

.timeline-item {
  max-width: 900px;
  padding-bottom: 20px;
  position: relative;
}

.timeline-item:hover .timeline-dot {
  transform: scale(1.8);
}

.timeline:hover {
  background-color: #e7e5f8;
  transition: background-color 1.2s ease;
}

.timeline {
  transition: background-color 0.5s ease;
}

.timeline-dot::before {
  content: "";
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 2px;
  width: 2px;
  height: 7vh;
  background: #111961b6;
  border-radius: 2px;
}

.project {
  background-color: #11196147;
  border-style: groove;
  max-width: 700px;
}

.more-info {
  text-align: right;
  font-style: italic;
  color: rgba(27, 14, 214, 0.877);
  font-size: 0.9rem;
  padding: 5px;
}

.hobbies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 700px;
  margin: 40px auto;
}

.hobby-card {
  padding: 20px;
  text-align: center;
  background: #cdcfe4;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.431);
  transition: transform 0.2s ease;
}

.hobby-card:hover {
  transform: translateY(-4px);
}

/*.empty {
  /* doar un placeholder gol */

/*}
*/

@media (max-width: 600px) {
  .hobbies-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 200px;
    margin: 40px auto;
  }
}

.message {
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(206, 206, 235, 1) 0%,
    rgba(240, 204, 240, 1) 50%,
    rgba(245, 220, 220, 1) 100%
  );
  border-radius: 12px;
  font-style: italic;
  text-align: left;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(253, 0, 249, 0.484);
  color: #4e306f;
  max-width: fit-content;
}
